@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    background-color: #edece8;
    font-family: memesique;
}

@font-face {
    font-family: 'Memesique';
    src: url('./fonts/Memesique-Regular.ttf');
    font-weight: bold;
}

::-webkit-scrollbar {
    display: none;
}